header {
  nav {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 0 50px;
    transition: 0.4s;
    .menu {
      display: flex;
      gap: 30px;
      color: #ff4510;
      font-size: 1.5em;
      transition: 0.4s;
      a {
        cursor: pointer;
      }
    }
    .portfolioLogo {
      color: #fff;
      font-size: 1.5em;
      a {
        cursor: pointer;
      }
    }
  }
  nav.active {
    position: fixed;
    top: 0;
    background: #ff4510;
    z-index: 100;
    a {
      color: #fff;
    }
  }
}

input {
  display: none;
}

.sidebar {
  display: none;
}

.main {
  padding-top: 70px;
  .mainInner {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 200px auto;
    .mainTit {
      text-align: center;
      font-size: 2em;
    }
    .mainDesc {
      width: 600px;
      line-height: 150%;
    }
  }
  .mainDescImg {
    img {
      width: 100%;
      height: 50vh;
    }
  }
  .mainPageMade {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    div {
      width: 200px;
      height: 200px;
      img {
        width: 200px;
        height: 200px;
      }
    }
  }
}

footer {
  width: 100%;
  height: 430px;
  background-color: #ff4510;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  .footerInner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .footerTitle {
      font-size: 2em;
    }
    .footerMenu {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .footerSnsLogo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
      }
      .footerTerms {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 850px) {
  header {
    display: none;
  }

  input[id="menuicon"] {
    display: none;
  }

  input[id="menuicon"] + label {
    display: block;
    width: 20px;
    height: 15px;
    position: fixed;
    cursor: pointer;
    top: 20px;
    right: 20px;
    z-index: 9999;
    span {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 30px;
      background: #ff4510;
      transition: all 0.35s;
    }
    :nth-child(1) {
      top: 0;
    }
    :nth-child(2) {
      top: 50%;
      transform: translateY(-50%);
    }
    :nth-child(3) {
      bottom: 0;
    }
  }
  input[id="menuicon"]:checked + label {
    z-index: 2;
    right: 310px;
  }

  input[id="menuicon"]:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
  input[id="menuicon"]:checked + label span:nth-child(2) {
    opacity: 0;
  }
  input[id="menuicon"]:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 300px;
    height: 100%;
    background: #ff4510;
    padding-top: 30px;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 1;
    color: #fff;
    font-size: 2em;
    transition: all 0.35s;
  }
  input[id="menuicon"]:checked + label + div {
    right: 0;
  }

  .main {
    .mainInner {
      padding: 20px;
      height: auto;
      .mainDesc {
        width: 100%;
        height: auto;
      }
    }
    .mainPageMade {
      flex-direction: column;
      div {
        width: 300px;
        height: 300px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
